{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div>

        <h1 class="text-center fw-bold mb-4">Espace Administration</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success d-flex justify-content-between align-items-center" role="alert">
                <span class="me-3">{{ message }}</span>
                <button type="button" class="btn-close text-end" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}

        <p>Ajouter une phrase du jour<a href="{{ path('app_admin_add') }}" class="text-decoration-none"> ➕</a> </p>
        
        <table class="table table-hover">
            <tbody>
                {% for sentence in sentences %}
                    <tr class="table-info">
                        <th scope="row">
                            <a href="{{ path('app_sentence_show', {id: sentence.id}) }}" class="text-decoration-none">
                                {{ sentence.createdAt|date('d/m/Y') }}
                            </a>
                            <span class="ms-3 small">
                                {{ sentence.content }}
                            </span>
                        </th>
                        <td> 
                            <span class="badge rounded-pill text-bg-{{ sentence.category.color }}">
                                {{ sentence.category.name }}
                            </span>
                        </td>
                        <td><a href="{{ path('app_admin_edit', {id: sentence.id}) }}" class="text-decoration-none">✏️</a></td>
                        <td><a href="{{ path('app_admin_delete', {id: sentence.id}) }}" class="text-decoration-none">❌</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucune phrase trouvée</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

